<div class="row">
    <a class="btn btn-primary btn-sm pull-right" href="#/tenants/new"><i class="fa fa-plus"></i> New tenant</a>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Creation date</th>
            <th>State</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tenant in tenants">
            <td>{{tenant.id}}</td>
            <td>{{tenant.name}}</td>
            <td>{{tenant.description}}</td>
            <td>{{tenant.creationDate | date:'short'}}</td>
            <td><span class="label {{getStateClass(tenant.state)}}">{{tenant.state}}</span></td>
            <td class="text-right">
                <a class="action">
                    <i  ng-show="isActivated(tenant)" ng-click="pause(tenant)" title="Pause tenant for maintenance" class="fa fa-pause"></i>
                    <i  ng-show="isPaused(tenant)" ng-click="resume(tenant)" title="Resume tenant" class="fa fa-play"></i>
                    <i  ng-show="isDeactivated(tenant)" ng-click="activate(tenant)" title="Activate tenant" class="fa fa-play"></i>
                </a>
                <a class="action">
                    <i  ng-click="delete(tenant)" title="Delete tenant" class="fa fa-trash-o"></i>
                </a>
                <a class="action">
                    <i ng-click="edit(tenant)" title="Edit tenant" class="fa fa-edit"></i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-controller="ModalCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Warning !</h4>
        </div>
        <div class="modal-body">
            {{message}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok()">{{button || 'OK'}}</button>
        </div>
    </script>
</div>

