<h3 class="page-header" id="overview">Update tenant {{tenant.name}}</h3>
<div class="row">
<form class="form-horizontal" name="form" novalidate>
    <div ng-class="{'error has-error': isNotValid(form.name)}" class="form-group has-feedback">
        <label for="name" class="col-sm-2 control-label">Tenant name<span style="color:red" > *</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" ng-model="tenant.name" placeholder="Tenant name " required/>
            <span ng-show="isNotValid(form.name)" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <label id="name-warning" ng-show="isNotValid(form.name)" class="control-label" for="name">Required field</label>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" id="Description" ng-model="tenant.description" placeholder="Description of the tenant"></textarea>
        </div>
    </div>

     <div class="form-group has-feedback">
        <label for="password" class="col-sm-2 control-label">Change technical user password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" ng-model="tenant.password" placeholder="Tenant administrator password" />
        </div>
    </div>

    <div ng-class="{'error has-error': isInvalidPassword(tenant.password,tenant.confirm_password)}" class="form-group has-feedback">
        <label for="confirm_password" class="col-sm-2 control-label">Confirm new technical user password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password"  ng-model="tenant.confirm_password" placeholder="Confirm tenant administrator password" />
            <span ng-show="isInvalidPassword(tenant.password,tenant.confirm_password)" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <label id="confirm-password-warning" ng-show="isInvalidPassword(tenant.password,tenant.confirm_password)" class="control-label" for="confirm_password">Confirmation password must match the new password!</label>
        </div>
    </div>

    <div  class="form-group  has-feedback">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" ng-click="submit(tenant)" >Update</button>
            <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>
</div>
